/plugins/asrd_sentry_enhancer.smx
/plugins/asrd_chainsaw_turbo.smx
/plugins/asrd_afk_kick.smx
/plugins/asrd_welcome.smx
/plugins/asrd_marine_power.smx
/plugins/asrd_alien_civilwar.smx
/plugins/_chainsaw_check.smx
