/plugins/asrd_sentry_enhancer.smx
/plugins/asrd_chainsaw_turbo.smx
/plugins/asrd_afk_kick.smx
/plugins/asrd_welcome.smx
/plugins/asrd_marine_power.smx
/plugins/asrd_alien_civilwar.smx
/plugins/_chainsaw_check.smx
/.idea/
/.workbuddy/
/plugins/asrd_drone_escort.smx
/scripting/compiled/
/plugins/asrd_entity_fun.smx
/plugins/asrd_nuke.smx
/plugins/asrd_repulse.smx
/plugins/asrd_respawn.smx
/plugins/asrd_unlock.smx
/plugins/asrd_fh_revive.smx
